form .myInput {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #7f7f7f;
  box-sizing: border-box;
  background-color: #242424;
  border: 0.75px solid #3d3d3d;
  border-radius: 75px;
}
