form .myInput {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #f9f4f1;
  background: #242424;
  border-radius: 100px;
  border: 0.75px solid #3D3D3D;
  height: 44px;
  width: 100%;
  padding: 0 20px ;
}

form .myInput ::placeholder{
  color: #7F7F7F;
}