article {
    padding: 2rem 4rem;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

@media screen and (max-width: 900px) {
    article {
      padding: 1rem 3rem;
    }
  }
  
  @media screen and (max-width: 400px) {
    article {
      padding: 1rem 3rem;
    }
  }